/* theme change  */

/* for dark theme  */
body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

body.dark-mode .navbar {
    background-color: #181818 !important;
    border-bottom: 1px solid #333;
}

body.dark-mode .nav-link {
    color: #f1f1f1 !important;
}

body.dark-mode .nav-link:hover {
    color: #fe424d !important;
}

body.dark-mode .search-input.form-control {
    background-color: #222;
    color: white;
    border: 1px solid #555;
}

body.dark-mode .search-input::placeholder {
    color: #aaa;
}

body.dark-mode .search-btn.btn {
    background-color: #fe424d;
    color: white;
}

body.dark-mode .theme-btn {
    color: #f1f1f1;
}

body.dark-mode .theme-btn:hover {
    color: #fe424d;
}

body.dark-mode .listing-card {
    background-color: #1e1e1e;
    color: #f1f1f1;
}

body.dark-mode .listing-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgb(179, 176, 176);
}

body.dark-mode .filters{
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;
}

/* for dark footer */
body.dark-mode .f-info {
    background-color: #181818;
    border-top: 1px solid #333;
    color: #f1f1f1;
}

body.dark-mode .f-info-link a {
    color: #d1d1d1;
}

body.dark-mode .f-info-link a:hover {
    color: #fe424d;
    text-decoration: underline;
}

body.dark-mode .f-info-socials i {
    color: #d1d1d1;
    transition: all 0.3s ease;
}

body.dark-mode .f-info-socials i:hover {
    color: #fe424d;
    transform: translateY(-3px);
}

body.dark-mode .f-info-brand {
    color: #bdbdbd;
}